{% extends 'base.html' %}
{% load static %}
{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
<symbol id="geo-fill" viewBox="0 0 16 16">
    <path d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"
          fill-rule="evenodd"/>
</symbol>
</svg>
<div class="container px-4 py-2" id="custom-cards">
    <h3 class="pb-2 border-bottom">Страны с вершинами</h3>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
        {% for Country in all_countries %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                 style="background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('{{ Country.image_country.url }}');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-primary"><a class="fw-bold text-light text-decoration-none" href="{% url 'summit:country_details' Country.slug %}"><b>{{ Country.name }}</b></a></h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img alt="Bootstrap" class="rounded-circle border border-white" height="32"
                                 src="{{ Country.image_flag.url }}"
                                 width="32">
                        </li>
                        <li class="d-flex align-items-center me-1">
                            <svg class="bi me-2" height="1em" width="1em">
                                <use xlink:href="#geo-fill"/>
                            </svg>
                            <big>Вершин -</big>
                        </li>
                        <li class="d-flex align-items-center">
                            <big>{{ Country.number_of_summits }}</big>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}